/* ==========================
   DESIGNATIONS CONTENT
========================== */

.designations-content {
  width: 100%;
  min-height: 100%;
  padding-bottom: 07px;
  box-sizing: border-box;
  background: #ffffff;
}


/* ==========================
   HEADER
========================== */

.designation-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 24px;
}

.designation-header h1 {
  margin: 0 0 6px;
  font-size: 28px;
  font-weight: 700;
  color: #121212;
}

.designation-header p {
  margin: 0;
  font-size: 14px;
  color: #121212;
}


/* ==========================
   ADD DESIGNATION BUTTON
========================== */

.add-designation-btn {
  flex-shrink: 0;
  height: 42px;
  padding: 0 18px;

  border: none;
  border-radius: 7px;

  background: #f2b353;
  color: #ffffff;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
  white-space: nowrap;
  transition: background 0.2s ease;
}

.add-designation-btn:hover {
  background: #121212;
   color: #f2b353;

  
}


/* ==========================
   RESPONSIVE
========================== */

@media (max-width: 768px) {
  .designations-content {
    padding: 18px;
  }

  .designation-header {
    align-items: flex-start;
    flex-direction: column;
  }

  .add-designation-btn {
    width: 100%;
  }
}