.performance-review {
  width: 100%;
  box-sizing: border-box;
  padding-bottom:07px;
  background: #ffffff;
  min-height: 100%;
  font-family: Arial, sans-serif;

}

.performance-header {
  margin-bottom: 22px;

}

.performance-header h1 {
  margin: 0;
  color: #121212;
  font-size: 28px;
  font-weight: 700;
}

.performance-header p {
  margin: 8px 0 0;
  color: #555;
  font-size: 16px;
}