.reports-page {
  width: 100%;
  padding-bottom:7px;
  box-sizing: border-box;
  background: #ffffff;
}

/* Header */
.reports-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 22px;
}

.reports-header h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #151515;
}

.reports-breadcrumb {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-top: 8px;
  color: #121212;
  font-size: 15px;
}

.custom-report-btn {
  border: none;
  background:  #f2b353;
  color: white;
  padding: 13px 20px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.custom-report-btn:hover {
  background: #121212;
  color: #f2b353;
}